<div class="inner">
    <a href="/" class="masthead-brand" title="SAYEM">
        <img src="/images/sayem-logo.png" class="logo-img" alt="SAYEM">
    </a>
    <nav class="nav nav-masthead sayem-nav-link justify-content-center">
        <a class="btn sayem-secondary-button" href="/find-request">Talep Sorgulama</a>
        <a class="btn sayem-primary-button" href="/login">Yetkili Girişi</a>
    </nav>
</div>