<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
                <div class="card card-body">
                    
                </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card card-body">
                
            </div>
    </div>
    </div>
</div>