<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-12 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4 sayem-title-black">Talep Sorgulama</h3>

                    <fieldset>
                        <form id="find-request-form" action="/request/find" method="POST" class="needs-validation" novalidate>
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Talep numarası" name="uuid" id="uuid" value="" type="text" required>
                                <div class="invalid-feedback">
                                  Lütfen talep numarası girin.
                                </div>
                            </div>
                            
                            <input class="btn btn-lg sayem-primary-button btn-block" value="Kaydet" type="submit">
                        </form>
                    </fieldset>
                </div>

                <main id="request-detail-card" role="main" class="container hidden">
                    <div class="d-flex align-items-center my-3 text-white-50 bg-purple rounded box-shadow">
                      <div class="lh-100">
                        <h6 id="req-status-title" class="mb-0 text-white lh-100"></h6>
                        <ul class="list-unstyled mb-0">

                          <li class="text-white">
                            <small id="req-type"></small>
                          </li>
                          <li class="text-white">
                            <small id="req-createdAt"></small>
                          </li>
                          <li class="text-white">
                            <small id="req-type"></small>
                          </li>
                        </ul>
                      </div>
                    </div>
              
                    <div class="my-3 p-3 bg-white rounded box-shadow">
                      <div class="border-bottom border-gray row">
                        <div class="col-sm">
                          <h6 class="pb-2 mb-0 sayem-title-black">Talebiniz</h6>
                        </div>
                        <div class="col-sm text-right">
                          <small id="req-status" class="sayem-title-black"></small>
                        </div>
                      </div>
                      <div class="media text-muted pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-black">
                          <strong id="req-title" class="d-block sayem-title-black"></strong>
                          <span id="req-content"></span>
                        </p>
                      </div>
                     
                      <small class="d-block text-right mt-3">
                        <small id="req-created" class="sayem-title-black"></small>
                      </small>
                    </div>
              
                    <div class="my-3 p-3 bg-white rounded box-shadow">
                      <h6 class="border-bottom border-gray pb-2 mb-0 sayem-title-black">Yetkili Cevapları</h6>
                      <div id="admin-responses" class="media text-muted pt-3">
                        
                      </div>
                    </div>
                  </main>
        </div>
    </div>
</div>

<script>
  (function() {
        'use strict';
        window.addEventListener('load', function() {
          const queryString = window.location.search;
          const urlParams = new URLSearchParams(queryString);
          const error = urlParams.get('error')

          if (error) {
            Swal.fire({
              title: "Talep bulunamadı.",
              icon: "error",
              confirmButtonText: "Tamam",
            });
            document.body.classList.remove('swal2-height-auto');
          }
          
        }, false);
  })();
</script>