<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-12 mx-auto">
                <div id="request-form-card" class="card card-body">
                    <h3 class="text-center mb-4 sayem-title-black">Talep Sorgulama</h3>

                    <fieldset>
                        <form id="find-request-form" action="" method="POST">
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Talep numarası" name="request_uuid" id="request_uuid" value="" type="text">
                            </div>
                            
                            <input class="btn btn-lg sayem-primary-button btn-block" value="Kaydet" type="submit">
                        </form>
                    </fieldset>
                </div>

                <div id="request-detail-card" class="row hidden">
                    <div class="col-md-8 mx-auto">
                            <div class="card card-body">
                                asd
                            </div>
                    </div>
                    <div class="col-md-4 order-md-2 mb-4">
                        <ul class="list-group mb-3">
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <small class="text-muted">Talep Türü</small>
                            </div>
                            <small id="req-type" class="text-muted"></small>
                          </li>
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <small class="text-muted">Talep durumu</small>
                            </div>
                            <small id="req-status" class="text-muted"></small>
                          </li>
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <small class="text-muted">Talep tarihi</small>
                            </div>
                            <small id="req-date" class="text-muted"></small>
                          </li>
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <small class="text-muted">Son güncelleme</small>
                            </div>
                            <small id="req-last-update" class="text-muted"></small>
                          </li>
                        </ul>
                      </div>
                </div>
        </div>
    </div>
</div>
