<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-12 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4 sayem-title-black">Talep Formu</h3>
                    <div class="alert alert-danger">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Örnek hata.
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <select class="form-control input-lg">
                                <option selecterd="">Talep Türü Seçiniz</option>
                            </select>
                        </div>
                        <div class="form-group has-success">
                            <input class="form-control input-lg" placeholder="Talep Başlığı" name="request_title" value="" type="text">
                        </div>
                        <div class="form-group has-success">
                            <textarea class="form-control input-lg" rows="3" placeholder="Talebiniz" name="request_content" value="" type="text"></textarea>
                        </div>

                        <input class="btn btn-lg sayem-primary-button btn-block" value="Kaydet" type="submit">
                    </fieldset>
                </div>
        </div>
    </div>
</div>