<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sayem yazılım geliştirici 5 için hazırlanmıştır">
    <meta name="author" content="SERKAN DAYICIK">
    <link rel="icon" href="images/favicon.ico">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <%- include('./partials/header.ejs') %>
        </header>
        
        <main role="main" class="inner cover">
            <%- body %>
        </main>
        <footer class="mastfoot mt-auto">
            <%- include('./partials/footer.ejs') %>
        </footer>
        
    </div>
</body>
</html>