<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-12 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4 sayem-title-black">Yetkili girişi</h3>
                    <div class="alert alert-danger">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Örnek hata.
                    </div>
                    <fieldset>
                        <form action="/form-login" method="post">
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Kullanıcı adı" name="username" value="" type="text" minlength="3" required>
                            </div>
                            <div class="form-group has-success">
                                <input class="form-control input-lg" rows="3" placeholder="Şifre" name="password" value="" type="password" minlength="8" required>
                            </div>

                            <input class="btn btn-lg sayem-primary-button btn-block" value="Giriş" type="submit">
                        </form>
                    </fieldset>
                </div>
        </div>
    </div>
</div>